@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
    --sunset--red: #D62828;
    --sunset--orange: #F77F00;
    --sunset--black: #003049;
    --sunset--yellow: #FCBF49;
    --sunset--light: #EAE2B7;
}

html {
    scroll-behavior: smooth;
}

* {
    background-color: var(--sunset--black);
    font-family: "Fira Mono", monospace;
}

body {
    padding-left: 2rem;
}

h1 {
    color: var(--sunset--light);
    font-size: 4em;
    font-family: "Rubik Mono One", monospace;
}

h2 {
    color: var(--sunset--light);
    font-size: 2em;
}

li {
    color: var(--sunset--orange);
    font-size: 1.5em;
}

button {
    font-size: 2em;
    color: var(--sunset--light);
}

